<div class="modal static bump-down">
  <div class="modal-dialog" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="alert alert-danger" role="alert">
        <div class="alert-items">
          <div class="alert-item static">
            <div class="alert-icon-wrapper">
              <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
            </div>
            <span class="alert-text">Внимание!</span>
          </div>
        </div>
      </div>
      <div class="modal-body">
        <p class="modal-body-delete">Подтвердите удаление записи</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-outline" type="button" (click)="onCancel()">Отмена</button>
        <button class="btn btn-primary" type="button" (click)="onDelete()">Подтвердить</button>
      </div>
    </div>
  </div>
</div>
